@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Shadows Into Light', cursive;
}

#instruction{
  margin-left:350px;
  width: 50%;
  border: 1px solid;
  padding-left: 10px;
  padding-bottom: 15px;
  background: #EDEDED;
  text-align: center;
}

#photos{
  width:65%;
  float: left;
}

.hello{
  text-align: center;
  padding-left: 50px;

}
.popular li, .latest li {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 0px 20px 20px 0px;
}

img{
  width:250px;
}
.popular, .latest {
  width: 1004px;
  padding-left: 350px;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: 'Lato';
  font-size: 36px;
  font-weight: bold;
  color: #4F4F4F;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

h2{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Shadows Into Light', cursive;
  
}

img {
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
span {
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  text-align: center;
  display: block;
  padding: 10px 0px;
}

